server:
  port: 8080

spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/share?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2b8
    driver-class-name: com.mysql.cj.jdbc.Driver

#返回值,参数类型别名
#mapper存放位置：resources目录下mapper目录

mybatis-plus:
  type-aliases-package: com.share.pojo
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    com.share.pojo.mapper : debug
#    root: debug


minio:
  endpoint: 39.97.220.152
  port: 9000
  accessKey: minioadmin
  secretKey: minioadmin
  secure: false #如果是true，则用的是https而不是http,默认值是true
  bucketName: "share"
  configDir: "/usr/local/minio/data/"

