<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.ArticleMapper">
    <insert id="addArticle" parameterType="com.share.entity.Article">
        insert into share.article (user_id,createtime,text,title)
        values (#{articleVo.userId},#{articleVo.createTime},#{articleVo.text},#{articleVo.title})
    </insert>

    <update id="updateArticle" parameterType="com.share.entity.Article">
        update share.article
        set text=#{articleVo.text},updatetime=#{articleVo.updateTime}
        where id=#{articleId};
    </update>

    <delete id="deleteArticle" parameterType="com.share.entity.Article">
        delete from share.article where id=#{articleId}
    </delete>

    <resultMap id="Article" type="com.share.ro.articleRo.AllEArticleRo">
        <result property="id" column="aid"/>
        <result property="title" column="atitle"/>
        <result property="text" column="atext"/>
        <result property="createTime" column="acreatetime"/>
        <result property="updateTime" column="aupdateTime"/>
        <result property="userId" column="uid"/>
        <result property="picture" column="upicture"/>
        <result property="nickname" column="unickname"/>
    </resultMap>

    <select id="queryAllArticle" resultMap="Article" resultType="List">
        select a.id aid,a.title atitle,a.text atext,a.createtime acreatetime,a.updatetime aupdatetime,u.id uid,u.picture upicture,u.nickname unickname
        from share.user u,share.article a
        where  u.id = a.user_id and a.status = '1'
    </select>

    <resultMap id="Article2" type="com.share.ro.articleRo.ArticleRo">
        <result property="id" column="aid"/>
        <result property="title" column="atitle"/>
        <result property="text" column="atext"/>
        <result property="createTime" column="acreatetime"/>
        <result property="updateTime" column="aupdateTime"/>
        <result property="userId" column="uid"/>
        <result property="picture" column="upicture"/>
        <result property="nickname" column="unickname"/>
        <result property="status" column="astatus"/>
    </resultMap>

    <select id="queryArticleById" resultMap="Article2">
        select a.id aid,a.title atitle,a.text atext,a.createtime acreatetime,a.updatetime aupdatetime,a.status astatus,
               u.id uid,u.picture upicture,u.nickname unickname
        from share.user u,share.article a
        where  u.id = a.user_id and a.id=#{id}
    </select>

    <select id="queryArticleByUserId" resultMap="Article2" resultType="List">
        select a.id aid,a.title atitle,a.text atext,a.createtime acreatetime,a.updatetime aupdatetime,a.status astatus,
               u.id uid,u.picture upicture,u.nickname unickname
        from share.user u,share.article a
        where  u.id = a.user_id and a.user_id = #{userId}
    </select>
</mapper>