<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.GoodsMapper">

    <select id="queryAllGoods" resultType="com.share.ro.GoodsRo">
        select * from share.goods
    </select>

    <select id="queryGoodsByUserId" resultType="com.share.ro.GoodsRo">
        select * from share.goods where user_id=#{userId}
    </select>

    <select id="queryGoodsById" resultType="com.share.ro.GoodsRo">
        select * from share.goods where id=#{id}
    </select>

    <insert id="addGoods" parameterType="com.share.entity.Goods">
        insert into share.goods (goodsname,details,price,user_id,stock,picture)
        values (#{goodsVo.goodsName},#{goodsVo.details},#{goodsVo.price},#{goodsVo.userId},#{goodsVo.stock},#{goodsVo.picture})
    </insert>

<!--    名字，描述，价格，库存，图片-->
    <update id="updateGoods">
        update share.goods
        set goodsname=#{goodsVo.goodsName},details=#{goodsVo.details},price=#{goodsVo.price},stock=#{goodsVo.stock},picture=#{goodsVo.picture}
        where id=#{id};
    </update>

    <update id="updateGoodsStatus">
        update share.goods
        set status=#{goodsVo.status}
        where id=#{id}
    </update>


</mapper>