<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.HelpMapper">

    <insert id="addHelp">
        insert into share.help (user_id_help,type,address,details,price,createtime)
            values (#{userId},#{helpVo.type},#{helpVo.address},#{helpVo.details},#{helpVo.price},#{helpVo.createTime})
    </insert>

    <update id="updateHelp">
        update share.help
        set address=#{helpVo.address},details=#{helpVo.details},price=#{helpVo.price},updatetime=#{helpVo.updateTime}
        where id=#{id};
    </update>

    <update id="updateHelper">
        update share.help
        set user_id_helper = #{helpVo.userIdHelper}
        where id=#{id};
    </update>

    <delete id="deleteHelp">
        delete from share.help where id=#{id}
    </delete>

    <resultMap id="allHelp" type="com.share.ro.helpRo.HelpRo">
        <result property="id" column="hid"/>
        <result property="userIdHelp" column="huid"/>
        <result property="address" column="ha"/>
        <result property="details" column="hd"/>
        <result property="price" column="hp"/>
        <result property="createTime" column="hct"/>
        <result property="updateTime" column="hut"/>
        <result property="upicture" column="upic"/>
        <result property="nickname" column="unickname"/>
        <result property="type" column="hty"/>
    </resultMap>

    <select id="queryAllDeliveryHelp" resultMap="allHelp">
        select h.id hid,h.user_id_help huid,h.address ha,h.details hd,h.price hp,h.createtime hct,h.updatetime hut,h.type hty,
               u.id uid,u.picture upic,u.nickname unickname
        from share.help h,share.user u
        where h.user_id_help = u.id and h.type = '外卖' and h.status = '0'
    </select>

    <select id="queryAllParcelHelp" resultMap="allHelp">
        select h.id hid,h.user_id_help huid,h.address ha,h.details hd,h.price hp,h.createtime hct,h.updatetime hut,h.type hty,
               u.id uid,u.picture upic,u.nickname unickname
        from share.help h,share.user u
        where h.user_id_help = u.id and h.type = '快递' and h.status = '0'
    </select>

</mapper>