<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.HistoryMapper">

    <insert id="addHistory">
        insert into share.history
        <choose>
            <when test="historyVo.goodsId != null">
                (user_id,goods_id,lasttime,type)
                values (#{historyVo.userId},#{historyVo.goodsId},#{historyVo.lastTime},'交易物品')
            </when>
            <when test="historyVo.rentId != null">
                (user_id,rent_id,lasttime,type)
                values (#{historyVo.userId},#{historyVo.rentId},#{historyVo.lastTime},'出租')
            </when>
            <when test="historyVo.travelId != null">
                (user_id,travel_id,lasttime,type)
                values (#{historyVo.userId},#{historyVo.travelId},#{historyVo.lastTime},'出行')
            </when>
        </choose>
    </insert>

    <delete id="deleteHistory">
        delete from share.history where id=#{id}
    </delete>

    <resultMap id="goodsHistory" type="com.share.ro.historyRo.GoodsHistoryRo">
        <result property="id" column="hid"/>
        <result property="userId" column="huid"/>
        <result property="goodsId" column="hgids"/>
        <result property="lastTime" column="hlt"/>
        <result property="goodsName" column="ggn"/>
    </resultMap>

    <select id="queryGoodsHistoryByUserId" resultMap="goodsHistory" resultType="com.share.ro.historyRo.GoodsHistoryRo">
        select h.id hid,h.goods_id hgids,h.user_id huid,h.lasttime hlt,g.goodsname ggn
        from share.history h,share.goods g
        where h.goods_id = g.id and h.type = '交易物品' and h.user_id = #{userId}
        ORDER BY h.lasttime DESC
    </select>

    <resultMap id="rentHistory" type="com.share.ro.historyRo.RentHsitoryRo">
        <result property="id" column="hid"/>
        <result property="userId" column="huid"/>
        <result property="rentId" column="hrid"/>
        <result property="lastTime" column="hlt"/>
        <result property="address" column="ra"/>
    </resultMap>

    <select id="queryRentHistoryByUserId" resultMap="rentHistory">
        select h.id hid,h.rent_id hrid,h.user_id huid,h.lasttime hlt,r.address ra
        from share.history h,share.rent r
        where h.rent_id = r.id and h.type = '出租' and h.user_id = #{userId}
        ORDER BY h.lasttime DESC
    </select>

    <resultMap id="travelHistory" type="com.share.ro.historyRo.TravelHistoryRo">
        <result property="id" column="hid"/>
        <result property="userId" column="huid"/>
        <result property="travelId" column="htid"/>
        <result property="lastTime" column="hlt"/>
        <result property="title" column="tt"/>
    </resultMap>

    <select id="queryTravelHistoryByUserId" resultMap="travelHistory">
        select h.id hid,h.travel_id htid,h.user_id huid,h.lasttime hlt,t.title tt
        from share.history h,share.travel t
        where h.travel_id = t.id and h.type = '出行' and h.user_id = #{userId}
        ORDER BY h.lasttime DESC
    </select>

    <select id="queryHistoryByObjId" resultType="com.share.ro.historyRo.HistoryRo">
        select * from share.history
        <where>
            <if test="historyVo.goodsId != null">
                goods_id=#{historyVo.goodsId} and user_id =#{userId}
            </if>
            <if test="historyVo.rentId != null">
                rent_id=#{historyVo.rentId} and user_id =#{userId}
            </if>
            <if test="historyVo.travelId != null">
                travel_id=#{historyVo.travelId} and user_id =#{userId}
            </if>
        </where>
    </select>

    <update id="updateHistory">
        update share.history
        set lasttime = #{historyVo.lastTime}
        <where>
            <if test="historyVo.goodsId != null">
                goods_id=#{historyVo.goodsId}
            </if>
            <if test="historyVo.rentId != null">
                rent_id=#{historyVo.rentId}
            </if>
            <if test="historyVo.travelId != null">
                travel_id=#{historyVo.travelId}
            </if>
        </where>
    </update>
</mapper>