<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.OrderMapper">

    <resultMap id="userOrders" type="com.share.ro.orderRo.UserOrderRo" >
        <result property="id" column="oid"/>
        <result property="goodsName" column="ggn"/>
        <result property="goodsId" column="ogid"/>
        <result property="GPicture" column="gpic"/>
        <result property="goodsPrice" column="gp"/>
        <result property="status" column="os"/>
    </resultMap>

    <select id="queryOrderByUserId" resultMap="userOrders">
        select o.id oid,o.goods_id ogid,o.status os,
               g.goodsname ggn,g.picture gpic,g.price gp
        from share.order o,share.goods g
        where o.goods_id = g.id and o.user_id=#{userId} and o.deleted = '0'
    </select>

    <resultMap id="order" type="com.share.ro.orderRo.OrderRo">
        <result property="id" column="oid"/>
        <result property="goodsName" column="ggn"/>
        <result property="goodsId" column="ogid"/>
        <result property="GPicture" column="gpic"/>
        <result property="goodsPrice" column="gp"/>
        <result property="orderNo" column="oon"/>
        <result property="status" column="os"/>
        <result property="createTime" column="oct"/>
    </resultMap>

    <select id="queryOrderById" resultMap="order">
        select o.id oid,o.order_no oon,o.createtime oct,o.goods_id ogid,o.status os,
               g.goodsname ggn,g.picture gpic,g.price gp
        from share.order o,share.goods g
        where o.goods_id = g.id and o.id=#{id}
    </select>

    <select id="queryOrderByOrderNo" resultType="com.share.ro.orderRo.OrderRo">
        select * from share.order where order_no=#{orderNo}
    </select>

    <insert id="addOrder">
        insert into share.order (createtime,order_no,goods_id,user_id,deleted)
        values (#{orderVo.createTime},#{orderVo.orderNo},#{orderVo.goodsId},#{orderVo.userId},#{orderVo.deleted})
    </insert>

    <update id="updateOrder">
        update share.order
        set status = #{orderVo.status}
        where id=#{id};
    </update>

    <update id="deleteOrder">
        update share.order
        set  deleted = #{orderVo.deleted}
        where id=#{id};
    </update>


</mapper>