<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.RentMapper">

    <select id="queryAllRentDepart" resultType="com.share.ro.rentRo.RentRo">
        select * from share.rent where status = '出租中' and deleted = '0' and type = '房屋' ORDER BY rent.id DESC
    </select>

    <select id="queryAllRentPark" resultType="com.share.ro.rentRo.RentRo">
        select * from share.rent where status = '出租中' and deleted = '0' and type = '车位' ORDER BY rent.id DESC
    </select>

    <select id="queryRentParkByUserId" resultType="com.share.ro.rentRo.RentUserIdRo">
        select * from share.rent where user_id_rent=#{userIdRent} and type = '车位' and deleted = '0'
    </select>

    <select id="queryRentParkByUserIdRenter" resultType="com.share.ro.rentRo.RentUserIdRo">
        select * from share.rent where user_id_renter=#{userIdRenter} and type = '车位' and deleted = '0'
    </select>

    <select id="queryRentDepartByUserId" resultType="com.share.ro.rentRo.RentUserIdRo">
        select * from share.rent where user_id_rent=#{userIdRent} and type = '房屋' and deleted = '0'
    </select>

    <select id="queryRentDepartByUserIdRenter" resultType="com.share.ro.rentRo.RentUserIdRo">
        select * from share.rent where user_id_renter=#{userIdRenter} and type = '房屋' and deleted = '0'
    </select>

    <insert id="addRent">
        insert into share.rent (user_id_rent,type,address,price,createtime,details)
        values (#{rentVo.userIdRent},#{rentVo.type},#{rentVo.address},#{rentVo.price},#{rentVo.createTime},#{rentVo.details});
    </insert>

    <update id="updateRent">
        update share.rent
        set address=#{rentVo.address},price=#{rentVo.price},updatetime=#{rentVo.updateTime},details=#{rentVo.details}
        where id=#{id}
    </update>

    <update id="updateRenter">
        update share.rent
        set user_id_renter = #{rentVo.userIdRenter}
        where id=#{id};
    </update>

    <update id="deleteRent">
        update share.rent
        set deleted = '1'
        where id=#{id};
    </update>

    <update id="updateStatus">
        update share.rent
        set status = #{status}
        where id=#{id};
    </update>

    <resultMap id="rentById" type="com.share.ro.rentRo.RentRo">
        <result property="id" column="rid"/>
        <result property="userIdRent" column="ruidr"/>
        <result property="userIdRenter" column="ruidur"/>
        <result property="type" column="rt"/>
        <result property="address" column="ra"/>
        <result property="price" column="rp"/>
        <result property="createTime" column="rct"/>
        <result property="updateTime" column="rut"/>
        <result property="details" column="rd"/>
        <result property="picture" column="upic"/>
        <result property="nickname" column="unn"/>
        <result property="status" column="rs"/>
    </resultMap>

    <select id="queryRentById" resultMap="rentById">
        select r.id rid,r.user_id_rent ruidr,r.user_id_renter ruidur,r.type rt,r.address ra,r.price rp,r.createtime rct,r.updatetime rut,r.details rd,r.status rs,
               u.id uid,u.picture upic,u.nickname unn
        from share.rent r,share.user u
        where r.user_id_rent = u.id and r.id = #{id}
    </select>
</mapper>