<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.TrolleyMapper">

    <select id="queryTrolleyByUserId" resultType="com.share.ro.trolleyRo.TrolleyRo">
        select * from share.trolley where user_id=#{userId} and status='在购物车中'
    </select>

    <insert id="addTrolley">
        insert into share.trolley (user_id,goods_id)
                value (#{trolleyVo.userId},#{trolleyVo.goodsId})
    </insert>

    <delete id="removeTrolley">
        delete from share.trolley where id=#{id}
    </delete>

</mapper>