<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.UserMapper">
    <select id="queryUserAll" resultType="com.share.ro.userRo.UserRo">
        select * from share.user
    </select>

    <select id="queryUserById" resultType="com.share.ro.userRo.UserRo" >
        select * from share.user where id = #{id}
    </select>

<!--    账号登录-->
    <select id="queryByAccount" resultType="com.share.entity.User">
        select  * from share.user where useraccount = #{username} and password = #{password}
    </select>

<!--    手机号登录-->
    <select id="queryByTel" resultType="com.share.entity.User">
        select  * from share.user where tel = #{tel} and password = #{password}
    </select>

    <!--    账号注册方式-->
    <insert id="registerUsername" parameterType="com.share.entity.User">
        insert into share.user (useraccount,password,nickname) values (#{username},#{password},#{nickname})
    </insert>

    <!--    手机号注册方式-->
    <insert id="registerTel" parameterType="com.share.entity.User">
        insert into share.user (tel,password,nickname) values (#{tel},#{password},#{nickname})
    </insert>

    <select id="queryUserByTA" resultType="com.share.ro.userRo.UserRo">
        select * from share.user
        <where>
            <choose>
                <when test="username != null and username != ''">
                    useraccount=#{username}
                </when>
                <when test="tel != null and tel != ''">
                    tel=#{tel}
                </when>
            </choose>
        </where>
    </select>

    <update id="updateTP" parameterType="com.share.entity.User">
        update  share.user
        <choose>
            <when test="UserVo.tel != null and UserVo.tel!=''">
                <set>
                    tel=#{UserVo.tel}
                </set>
            </when>
            <when test="UserVo.password != null and UserVo.password != ''">
                <set>
                    password=#{UserVo.password}
                </set>
            </when>
        </choose>
        where id=#{id}
    </update>
</mapper>